<nav class="tab-bar">
	<div class="main-bar">
		<div class="large-2 columns schedulr-icon">
			<a href="#/">
				<%= image_tag("schedulr.png") %>
			</a>
		</div>

		<div class="large-6 columns search-bar">
			<input ng-model="query" type="text" placeholder="Search a user..." class="radius">
		</div>
		<div class="large-2 columns">
			
		</div>
	</div>
</nav>

<div class="main-content">
	<div class="small-2 columns profile-tab">
		<div class="panel radius">

			<div ng-show="user.sex == 'Male'">
				<i class="fi-torso"></i>
			</div>
			<div ng-show="user.sex == 'Female'">
				<i class="fi-torso-female"></i>
			</div>
			<div class="profile-title">
				<span>{{user.name}}</span>
			</div>
			<hr>
			<div class="profile-orders">
				<span>{{orders.length}} placed orders</span>
			</div>
			<div ng-show="user.priority == 1" class="ribbon-wrapper">
				<%= image_tag("flat-ribbon.png") %>
			</div>

		</div>
	</div>

	<div class="small-6 columns orders-tab">
		<div ng-show="orders.$resolved && orders.length == 0">
			<h4>There are no orders here...</h4>
			<p>Please add an order from the right panel!</p>
		</div>

		<div class="order-list" ng-repeat="order in orders | filter:query | orderBy:ordersProp" data-equalizer>
			<div class="small-12 columns panel radius" data-equalizer-watch>
				<div class="small-push-11 order-delete">
					<a ng-click="destroy($index)"><i class="fi-trash"></i></a>
				</div>
				<div class="order-content">
					<span>{{order.title}}</span>
					<hr>
					<span>{{order.body}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="small-3 columns small-pull-1 add-tab">
		<div class="panel radius">
			<form ng-submit="save()">
				<label>Order Title:</label>
				<input type="text" ng-model="title"/>

				<label>Order Body:</label>
				<textarea type="text" ng-model="body"></textarea>

				<input class="button radius" type="submit" value="Place an order!"/>
			</form>	
		</div>
	</div>
</div>