<nav class="tab-bar">
	<section class="left-small">
		<a class="left-off-canvas-toggle menu-icon" href="/"><span></span></a>
	</section>

	<section class="middle tab-bar-section">
		<div ng-controller="SchedulrIndexCtrl" class="search-bar">
			<input ng-model="query" type="text" placeholder="Search here...">
			<button>Add user</button>
		</div>
	</section>

	<section class="right-small">
		<a href="#"><i class="fi-key"></i></a>
		<a href="#"><i class="fi-megaphone"></i></a>
		<a href="#"><i class="fi-mail"></i></a>
	</section>
</nav>


<div class="off-canvas-wrap" data-offcanvas>
	<div class="inner-wrap">
		<aside class="left-off-canvas-menu">
			<ul class="off-canvas-list">
				<li>
					<div class="user-title-bar">
						<a href="/">
							<i class="fi-torso-business"></i>
							<p class="user-title-text">Johnny Walker</p>
						</a>
					</div>
				</li>

				<li>
					<a href="#">My orders</a>
				</li>
			</ul>
		</aside>

		<section class="main-section">
			<p>aaa</p>
		</section>
	</div>
</div>
