$silver-light	: #bdc3c7;

.tab-bar {
	border-bottom: solid 1px $silver-light;
	height: 60px;
	background-color: white;
	.main-bar {
		position: relative;
		display: inline-block;
		width: 100%;
		.search-bar {
			margin-left: 4px;
			padding-top: 12px;
		}
		.schedulr-icon {
		}
	}
}








