// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$silver-light	: #bdc3c7;
$mehmeh			: #6a6c6f;
$white			: #FFFFFF;
$cinnabar		: #E25041;


.main-content {
	padding-top: 20px;
	.filter-tab {
		padding: 0 20px 10px 20px;
		.panel {
			text-align: left;
			width: 100%;
		}
	}

	.main-tab {
		padding: 0;
		.user-list { 
			.panel {
				margin: 0 20px 10px 20px;
				.ribbon-wrapper {
					position: absolute;
					width: 119%;
					top: 2px;
					left: -9%;
				}
				.user-pic {
					margin-top: 22px;
					.fi-torso, .fi-torso-female {
						font-size: 60px;
						
						color: $cinnabar;
					}
				}
			}
		}
	}

	.add-tab {
		padding: 0 20px 10px 20px;
		.panel {
			text-align: left;
			.add-sex {
				padding-left: 0;
				float: left;
			}
			.add-priority {
				padding-right: 0;
				float: right;
			}
		}
		h2 {
			font-size: 32px;
			font-color: $mehmeh;
		}
	}
}


.button {
	margin: 0;
	padding: 5%;
	width: 100%;
}

